<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>boarder update</title>
    <link href="/stylesheets/borderOne.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h2 id="title1">boder 게시글 수정</h2>
      </div>
      <div class="row">
        <div class="widget-area no-padding blank">
          <div class="status-upload">
            <input class="aa" id="userid" value="<%=list[0].userid%>" />
            <br />
            <input class="aa" id="title" value="<%=list[0].title%>" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="widget-area no-padding blank">
            <div class="status-upload">
              <form>
                <textarea id="content"><%=list[0].content%></textarea>
                <ul>
                  <li>
                    <a
                      title=""
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-original-title="Audio"
                      ><i class="fa fa-music"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      title=""
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-original-title="Video"
                      ><i class="fa fa-video-camera"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      title=""
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-original-title="Sound Record"
                      ><i class="fa fa-microphone"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      title=""
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-original-title="Picture"
                      ><i class="fa fa-picture-o"></i
                    ></a>
                  </li>
                </ul>
                <button
                  type="button"
                  id="homeBtn"
                  class="btn btn-success green"
                >
                  <i class="fa fa-share">
                    <a href="#" class="aTag" onclick="history.back()"
                      >뒤로가기</a
                    ></i
                  >
                </button>
                <button
                  id="saveBtn"
                  class="btn btn-success green"
                  type="button"
                >
                  <i class="fa fa-share">
                    <a
                      href="#"
                      class="aTag"
                      onclick="boarderMod(<%=list[0].no%>)"
                      >게시글 수정완료</a
                    >
                  </i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function boarderMod(no) {
        let data = {
          userid: userid.value,
          title: title.value,
          content: content.value,
        };
        fetch(`/border/borderPut/${no}`, {
          method: "PUT",
          headers: {
            "Content-type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((res) => res.json())
          .then((res) => {
            if (res.result == true) {
              alert("수정완료!");
              location.href = `/border/borderLook/${no}`;
            } else {
              alert("수정실패!");
            }
          });
      }
    </script>
  </body>
</html>
